<!-- 
    File name: add.ejs
    Student's Name: Tanisha Sharma
    StudentID: 301144152
    Date: 2021/06/24
-->

<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->

<!-- ADD YOU CODE TO CREATE THE ADD PAGE -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12 my-5">
            <h1><%= title %></h1><br>
            <form action="/book-list/add" method="post" class="needs-validation">
                <div class="form-row">
                  <div class="col-12 mb-3">
                    <label for="name">Book name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Book name"
                      required
                    />
                  </div>
                  <div class="col-12 mb-3">
                    <label for="author">Author</label>
                    <input
                      type="text"
                      class="form-control"
                      name="author"
                      id="author"
                      placeholder="Book author name"
                      required
                    />
                  </div>
                  <div class="col-12 mb-3">
                    <label for="price">Book price</label>
                    <input
                      type="number"
                      class="form-control"
                      name="price"
                      id="price"
                      step="any"
                      placeholder="Book price"
                      required
                    />
                  </div>
                  <div class="col-12 mb-3">
                    <label for="price">Book publish year</label>
                    <input
                      type="number"
                      class="form-control"
                      name="published"
                      id="published"
                      max="2021"
                      placeholder="Book publish year"
                      required
                    />
                  </div>
                  <div class="col-12 mb-3">
                    <label for="description">Book description</label>
                    <textarea
                      class="form-control"
                      name="description"
                      id="description"
                      cols="20"
                      rows="5"
                      required
                    ></textarea>
                  </div>
                </div>
                <button class="btn btn-primary mx-auto" type="submit">Submit</button>
              </form>
              <br>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
